.hover-btn-green:hover {
  background-color: #28a745; /* This is the green color from Bootstrap's 'success' theme */
  border-color: #28a745;
  color: #fff;
}

.bg-red-800{
   background-color: rgb(153,27,27,1);
   color:#fff;
}

.line-ht-1 {
  /* Change this to a smaller pixel value or a unitless value */
  line-height: 1;
}

.blureffect{
    background-color:  rgb(125, 174, 243,.3);
    backdrop-filter: blur(10px);
}

.main{
    padding-top: 100px;
    padding-bottom: 50px;
    /* overflow-y: scroll; */
}

.max-h-100{
    max-height: 100px;
    overflow: hidden;
}

  .step-card {
            /* min-height: 150px; */
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .service-number {
            font-size: 1.5rem;
        }

.device-card {
            /* min-height: 100px; */
            display: flex;
            flex-direction: column;
            justify-content: center;
        }